{% extends "layout.html" %}

{% block navbar %}
<li class="uk-active"><a href="/">Encoder</a></li>
<li class="uk-parent"><a href="/stats">Stats</a></li>
{% endblock %}

{% block content %}
<div class="uk-grid">
	<div class="uk-width-1-3@s">
	    <div class="uk-margin">
	        <label class="uk-form-label" for="words">Binary input</label>
	        <div class="uk-form-controls">
	            <input class="uk-input" id="words" name="words" type="text">
	        </div>
	    </div>

	    <div class="uk-margin">
	        <label class="uk-form-label" for="error-rate">Error Rate</label>
	        <div class="uk-form-controls">
	            <input class="uk-input" id="error-rate" name="error-rate" type="number" min="0.00" max="1.00" step="any" value="0.0">
	        </div>
	    </div>

	    <div class="uk-margin">
	        <label class="uk-form-label" for="parameter">Parameter r:</label>
	        <div class="uk-form-controls">
	            <select class="uk-select" id="parameter" name="parameter">
	                <option>2</option>
	                <option selected="selected">3</option>
	                <option>4</option>
	                <option>5</option>
	                <option>6</option>
	            </select>
	        </div>
	    </div>

	    <div class="uk-margin-large">
	    	<input class="uk-button uk-button-default" type="submit" name="submit" value="Encode" id="submit-button">
            <input class="uk-button uk-button-default" type="submit" name="submit" value="Random" id="random-button">
	    </div>
	</div>

	<div class="uk-width-1-3@s">
	    <div class="uk-margin">
	        <label class="uk-form-label" for="codewords">Codewords</label>
	        <div class="uk-form-controls">
	            <input class="uk-input" id="codewords" type="text">
	        </div>
	    </div>

	    <div class="uk-margin">
	        <label class="uk-form-label" for="corrupted">Corrupted</label>
	        <div class="uk-form-controls">
	            <input class="uk-input" id="corrupted" type="text">
	        </div>
	    </div>

	    <div class="uk-margin">
	    	<label class="uk-form-label" for="bits-corrupted">Bits corrupted</label>
	        <div class="uk-form-controls">
	            <input class="uk-input" id="bits-corrupted" type="text">
	        </div>
	    </div>
	</div>

	<div class="uk-width-1-3@s">
	    <div class="uk-margin">
	        <label class="uk-form-label" for="corrected">Corrected</label>
	        <div class="uk-form-controls">
	            <input class="uk-input" id="corrected" type="text">
	        </div>
	    </div>

	    <div class="uk-margin">
	        <label class="uk-form-label" for="is-success">Success?</label>
	        <div class="uk-form-controls">
            	<input class="uk-input" id="is-success" type="text">
	        </div>
	    </div>
	</div>
</div>
{% endblock %}

{% block bodyjs %}
<script type="text/javascript">
	$(function() {
		$('#submit-button').bind('click', function() {
			updateForm("Encode");
		
		});

		/* Pressing enter key in any input box triggers encoding */
		$(".uk-input").keypress(function(e) {
		    if (e.which == 13) {
		        updateForm("Encode");
		    }
		});

		$('#random-button').bind('click', function() {
			updateForm("Random");
		});

		function updateForm(mode) {

			$.post($SCRIPT_ROOT + '/_rawdata', {

				words: $('#words').val(),
				error_rate: $('#error-rate').val(),
				parameter: $('#parameter').val(),
				submit: mode

			}, function(data) {

				$('#words').val(data.words);
				$('#codewords').val(data.codewords);
				$('#corrupted').val(data.corrupted);
				$('#bits-corrupted').val(data.bits_corrupted);
				$('#corrected').val(data.corrected);

				if (data.is_success) {
					$('#is-success').removeClass('uk-form-danger').addClass('uk-form-success').val('Yes');
				} else {
					$('#is-success').removeClass('uk-form-success').addClass('uk-form-danger').val('No');
				}
			}, "json").fail(function(xhr) {

				UIkit.notification({
				    message: xhr.responseJSON.message,
				    status: 'danger',
				    pos: 'top-center',
				    timeout: 4000
				});
			});
			return false;
		}
	});
</script>
{% endblock %}
