{% extends "layout.html" %}

{% block navbar %}
<li class="uk-active"><a href="/">Encoder</a></li>
<li class="uk-parent"><a href="/stats">Stats</a></li>
<li class="uk-parent"><a href="/visualization">Visualization</a></li>
{% endblock %}

{% block content %}
<div class="uk-grid">
	<div class="uk-width-1-3@s">
		<form action="{{ url_for('encode') }}" method="post" class="uk-form-stacked">

		    <div class="uk-margin">
		        <label class="uk-form-label" for="words">Binary input</label>
		        <div class="uk-form-controls">
		            <input class="uk-input" id="words" name="words" type="text" value="{{ words }}">
		        </div>
		    </div>

		    <div class="uk-margin">
		        <label class="uk-form-label" for="error-rate">Error Rate</label>
		        <div class="uk-form-controls">
		            <input class="uk-input" id="error-rate" name="error-rate" type="number" value="{{ error_rate }}" min="0.00" max="1.00" step="any">
		        </div>
		    </div>

		    <div class="uk-margin">
		        <label class="uk-form-label" for="parameter">Parameter r:</label>
		        <div class="uk-form-controls">
		            <select class="uk-select" id="parameter" name="parameter">
		                <option {% if parameter == 2 %} selected="selected"{% endif %}>2</option>
		                <option {% if parameter == 3 %} selected="selected"{% endif %}>3</option>
		                <option {% if parameter == 4 %} selected="selected"{% endif %}>4</option>
		                <option {% if parameter == 5 %} selected="selected"{% endif %}>5</option>
		                <option {% if parameter == 6 %} selected="selected"{% endif %}>6</option>
		                <option {% if parameter == 7 %} selected="selected"{% endif %}>7</option>
		                <option {% if parameter == 8 %} selected="selected"{% endif %}>8</option>
		            </select>
		        </div>
		    </div>

		    <div class="uk-margin-large">
		    	<input class="uk-button uk-button-default" type="submit" name="submit" value="Encode" id="submit-button">
                <input class="uk-button uk-button-default" type="submit" name="submit" value="Random" id="random-button">
		    </div>
		</form>
	</div>

	<div class="uk-width-1-3@s">
		<form class="uk-form-stacked">
		    <div class="uk-margin">
		        <label class="uk-form-label" for="form-output-text">Codeword</label>
		        <div class="uk-form-controls">
		            <input class="uk-input" id="form-output-text" type="text" value="{{ codewords }}">
		        </div>
		    </div>

		    <div class="uk-margin">
		        <label class="uk-form-label" for="form-output-text">Corrupted</label>
		        <div class="uk-form-controls">
		            <input class="uk-input" id="form-output-text" type="text" value="{{ corrupted }}">
		        </div>
		    </div>

		    <div class="uk-margin">
		    	<label class="uk-form-label" for="form-bits-corrupted">Bits corrupted</label>
		        <div class="uk-form-controls">
		            <input class="uk-input" id="form-output-text" type="text" value="{{ bits_corrupted }}">
		        </div>
		    </div>
		</form>
	</div>

	<div class="uk-width-1-3@s">
		<form class="uk-form-stacked">
		    <div class="uk-margin">
		        <label class="uk-form-label" for="form-output-text">Corrected</label>
		        <div class="uk-form-controls">
		            <input class="uk-input" id="form-output-text" type="text" value="{{ corrected }}">
		        </div>
		    </div>

		    <div class="uk-margin">
		        <label class="uk-form-label" for="form-output-text">Success?</label>
		        <div class="uk-form-controls">
		        	{% if is_success %}
		            	<input class="uk-input uk-form-success" id="form-output-text" type="text" value="Yes">
		        	{% else %}
		        		<input class="uk-input uk-form-danger" id="form-output-text" type="text" value="No">
		        	{% endif %}
		        </div>
		    </div>
		</form>
	</div>
</div>
{% endblock %}
