{% extends "layout.html" %}

{% block navbar %}
<li class="uk-parent"><a href="/">Encoder</a></li>
<li class="uk-active"><a href="/stats">Stats</a></li>
<li class="uk-parent"><a href="/visualization">Visualization</a></li>
{% endblock %}

{% block content %}
<h2>Test Configuration</h2>

<form id="statform" class="uk-grid-small" uk-grid> 
    <div class="uk-width-1-3@s">
        <div class="uk-margin uk-margin-small-left">
            <label class="uk-form-label" for="error-rate">Error Rate</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="error-rate" name="error-rate" type="number" value="{{ error_rate }}" min="0.00" max="1.00" step="any">
            </div>
        </div>
    </div>

    <div class="uk-width-1-3@s">
        <div class="uk-margin-large uk-margin-left">
            <label class="uk-form-label" for="no-of-tests">Number of tests</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="no-of-tests" name="no-of-tests" type="number" value="{{ no_of_tests }}" min="1" step="1">
            </div>
        </div>
    </div>

    <div class="uk-width-1-4@s">
        <div class="uk-margin-large uk-margin-left">
            <input class="uk-button uk-button-default" type="submit" value="Submit" id="submit-button" style="margin-top:24px;">
        </div>
    </div>
</form>

<h2>Results</h2>

<table class="uk-table">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Length</th>
            <th>Data Ratio</th>
            <th>Theoretical</th>
            <th>Test Result</th>
        </tr>
    </thead>
    <tbody>
        {% for row in tablerows %}
        <tr id="row-{{ row.parameter }}" style="height: 62px;">
            <td>{{ row.parameter }}</td>
            <td>{{ row.length }}</td>
            <td>{{ row.data_ratio }}</td>
            <td class="theory-rate">-</td>
            <td class="test-rate">-</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(function() {

        $(document).ready(function() {
            updateTable();
        });

        $('#statform').submit(function(e) {
            e.preventDefault();
            updateTable();
            return false;
        });

        function updateTable() {

            p = $('#error-rate').val();
            noOfTests = $('#no-of-tests').val();

            for (r = 2; r <= 6; ++r) {
                let n = Math.pow(2, r) - 1;
                let theoryVal = Math.pow(1-p, n) + n * p * Math.pow(1-p, n-1);
                $('#row-' + r + ' .theory-rate').html((theoryVal * 100).toFixed(2) + '%');
            }
            $('.test-rate').html('<div uk-spinner></div>');
            
            for (r = 2; r <= 6; ++r) {
                getValue(r, p, noOfTests);
            }
        }

        function getValue(r, p, noOfTests) {

            const start_time = new Date().getTime();

            $.post($SCRIPT_ROOT + '/_statdata', {

                r: r,
                p: p,
                no_of_tests: noOfTests

            }, function(data) {

                $('#row-' + r + ' .test-rate').html(data.test_rate + '%');

                const request_time = new Date().getTime() - start_time;
                console.log("Call for " + noOfTests + " tests with r=" + r + " took " + (request_time / 1000) + " seconds");

            }, "json").fail(function(xhr) {

                UIkit.notification({
                    message: xhr.responseJSON.message,
                    status: 'danger',
                    pos: 'top-center',
                    timeout: 4000
                });
                
            });
        }
    });
</script>
{% endblock %}