{% extends "layout.html" %}

{% block navbar %}
<li class="uk-parent"><a href="/">Encoder</a></li>
<li class="uk-parent"><a href="/stats">Stats</a></li>
<li class="uk-parent"><a href="/visualization">Visualization</a></li>
<li class="uk-active"><a href="/countdown">Countdown</a></li>
{% endblock %}

{% block content %}
<div class="uk-text-large uk-margin">
    <p>Time remaining until the deadline:</p>
</div>
<div class="uk-grid-small uk-child-width-auto " uk-grid uk-countdown="date: 2017-11-24T21:00:00+00:00">
    <div>
        <div class="uk-countdown-number uk-countdown-days"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-hours"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-minutes"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
    </div>
    <div class="uk-countdown-separator">:</div>
    <div>
        <div class="uk-countdown-number uk-countdown-seconds"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
    </div>
</div>

{% endblock %}