{% extends "layout.html" %}

{% block navbar %}
<li class="uk-parent"><a href="/">Encoder</a></li>
<li class="uk-active"><a href="/stats">Stats</a></li>
<li class="uk-parent"><a href="/visualization">Visualization</a></li>
{% endblock %}

{% block content %}
<table class="uk-table">
    <caption></caption>
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Length</th>
            <th>Data Ratio</th>
            <th>Theoretical</th>
            <th>Test Result</th>
        </tr>
    </thead>
    <tbody>
        {% for row in tablerows %}
        <tr>
            <td>{{ row.parameter }}</td>
            <td>{{ row.length }}</td>
            <td>{{ row.data_ratio }}%</td>
            <td>{{ row.theory_rate }}%</td>
            <td>{{ row.test_rate }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}