<!DOCTYPE html>

<head>
	<title>Hamming Encoder</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/favicon.ico">

    <!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/css/uikit.min.css" />

	<!-- UIkit JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.34/js/uikit-icons.min.js"></script>
    
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<nav class="uk-navbar-container uk-margin uk-dark" uk-navbar>
	    <div class="uk-navbar-left">

	        <a class="uk-navbar-item uk-logo" href="/">Hamming Encoder</a>

	    </div>
	    <div class="uk-navbar-right">

	        <div class="uk-navbar-item">
	            <div class="uk-navbar-nav">
	            	{% block navbar %}
	            	{% endblock %}
	            </div>
	        </div>
	    </div>
	</nav>

	<div class="uk-container-small uk-align-center">
		{% block content %}
		{% endblock %}
	</div>

	<script type="text/javascript" src="../js/script.js"></script>

</body>
</html>